* {
    background-color: rgb(243, 240, 237);
}

/* homePage styling */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* buttom styling */
a {
    text-decoration: none;
}

h2 {
    color: sandybrown;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 25px;
    width: 300px;
    justify-content: center;
}

h2:hover {
    background-color: rgb(26, 19, 19);
}

.centered-button {
    display: flex;
    justify-content: center;
}

/* Container styling */
#container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    justify-content: center;
}

#container>div {
    background-color: sandybrown;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
}

#container>div>h3 {
    background-color: inherit;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
}

#container>div:hover {
    background-color: rgb(188, 200, 255);
}

li {
    padding: 5px;
    background-color: inherit;
    list-style-type: circle;
    list-style-position: outside;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}